body{
    margin: 20px;
    font-family: verdana;
    text-align: center;
}

.top > .netzach {
    border: 2px solid rgb(89, 65, 141);
    padding: 20px;
    background-color: rgb(254, 171, 200);
}

.top > .yum {
    font-size: 20px;
    border: 2px solid rgb(89, 65, 141);
    padding: 20px;
    background-color: rgb(203, 254, 171);
}

.menu {
    border: 2px solid rgb(89, 65, 141);
    padding: 20px;
    background-color: rgb(171, 254, 245);

}

.content{
    border: 2px solid rgb(89, 65, 141);
    padding: 20px;
    background-color: rgb(254, 237, 171);
    float: left;
}

.content > .intro {
    border: 2px solid rgb(89, 65, 141);
    padding: 20px;
    background-color: rgb(254, 171, 171);

}

.content > .jobless {
    border: 2px solid rgb(89, 65, 141);
    padding: 20px;
    background-color: rgb(244, 171, 254);
}

.content > .lessjob {
    border: 2px solid rgb(89, 65, 141);
    padding: 20px;
    background-color: rgb(244, 171, 254);
}

.side{
    text-justify: auto;
    text-align: center;
    margin: auto;
    border: 2\3px solid rgb(89, 65, 141);
    padding: auto;
    background-color: rgb(204, 171, 254);

}

.bottom{
    clear: left;
    border: 2px solid rgb(89, 65, 141);
    padding: 20px;
    background-color: rgb(254, 208, 171);
    
}

.VBS > img{
    position: absolute;
    top: 30px;
	left: 60px;
    height: 100px;

}
